body {
  box-sizing: border-box;
  font-size: 14px;

  --background: #eeeeee;
  --color: rgba(0, 0, 0, .5);
  --color-second: rgba(0,0,0,.2);
  --components-bg: white;
  --box-shadow: rgba(0,0,0,.1);
}

.isDark {
  --background: #212121;
  --color: white;
  --color-second: rgba(255,255,255,.2);
  --components-bg: #424242;
  --box-shadow: rgba(255,255,255,.05);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
