* {
    box-sizing: border-box;
}

.content-container {
    box-sizing: border-box;
    height: calc(100vh - 125px);
    width: 100%;
}

@media (max-width: 1000px) {
    .content-container {
        width: 100vw;
    }
}