.navigation {
    grid-area: navigation;
    height: 100vh;
    background: var(--components-bg);
    box-shadow: 10px 0 10px var(--box-shadow);
    overflow: hidden;
}

.navigation__list {
    list-style-type: none;
    padding: 10px;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.navigation__list a {
    text-decoration: none;
    color: var(--color);
}

.navigation__item {
    border-radius: 5px;
}

.navigation__item a {
    text-align: left;
    margin: 5px;
    padding: 15px 10px;
    border-radius: 5px;
    color: var(--color);
    font-size: 1em;
    display: block;
}

.navigation__item--empty {
    text-align: left;
    margin: 5px;
    padding: 15px 10px;
    border-radius: 5px;
    color: var(--color);
    font-size: 1em;
    display: block;
    cursor: pointer;
}

.navigation__item--header {
    text-align: left;
    padding: 5px 5px;
    border-radius: 5px;
    color: var(--color);
    font-size: 1em;
    display: block;
}

.navigation__item:not(.navigation__item--header) a:hover, .navigation__item--empty:hover {
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.navigation__item--disabled:not(.navigation__item--header):hover {
    background: transparent;
    cursor: default;
}

.navigation__logo {
    margin: 0;
    height: 80px;
    background: var(--components-bg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.7em;
    color: var(--color);
    padding: 0 20px;
}

.navigation__logo h1 {
    color: var(--color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation__item svg {
    margin-right: 10px;
    font-weight: normal;
}

.navigation__item {
    text-decoration: none;
    color: var(--color);
}

.navigation__item .active{
    background: #cadefc;
    color: #5f5dbd;
    font-weight: bold;
}

.navigation__item--selected > li {
    background: #cadefc;
    color: #5f5dbd;
    font-weight: bold;
}

.navigation__item--selected a {
    color: #5f5dbd;
}

.navigation__item--disabled {
    color: var(--color-second);
}

.navigation__item--selected::after {
    content: " ";
    background: #5f5dbd;
    width: 5px;
    height: 10px;
}

.navigation__item--header {
    text-transform: uppercase;
    font-weight: bold;
}

.navigation__bars {
    display: none;
}

.navigation__logo--char {
    display: block;
    color: #5f5dbd;
    transform: skewY(-35deg);
    text-shadow: 1px 3px 0 #3E187A;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

@media (max-width: 1000px) {
    .navigation {
        height: 80px;
        position: relative;
        top: 0;
        bottom: 0;
        transition: height 0.3s;
        z-index: 999;
        overflow: hidden;
    }

    .navigation__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation__bars {
        display: block;
    }

    .navigation--open {
        height: 100vh;
        background: var(--components-bg);
    }

    .navigation__list {
        padding: 25px 0 50px 0;
    }
}
